/.gradle/
/build/
.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.1.20170728-1531.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.buildship.ui/dialog_settings.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.log
.metadata/.lock
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
out/test/classes/com/saleor/properties/URLs.class
out/test/classes/com/saleor/properties/Constants.class
out/test/classes/com/saleor/page/home/HomePageValidation.class
out/test/classes/com/saleor/page/home/HomePage.class
out/test/classes/com/TAF/test/data/URL.class
out/test/classes/com/TAF/test/data/Title.class
out/test/classes/com/TAF/test/LoginUnsuccessfully.class
out/test/classes/com/TAF/test/LoginUnsuccessfully$Invalid_Credentials.class
out/test/classes/com/TAF/test/LoginUnsuccessfully$Blank_Credentials.class
out/test/classes/com/TAF/test/LoginSuccessfully.class
out/test/classes/com/TAF/page/LoginPage.class
out/test/classes/com/TAF/page/HomePage.class
out/production/classes/com/TAF/helper/ExcelHelper.class
out/production/classes/com/TAF/helper/DataHelper.class
out/production/classes/com/TAF/driver/Firefox.class
out/production/classes/com/TAF/driver/DriverUtils.class
out/production/classes/com/TAF/driver/DriverType.class
out/production/classes/com/TAF/driver/DriverFactory.class
out/production/classes/com/TAF/driver/DriverFactory$1.class
out/production/classes/com/TAF/driver/Chrome.class
TAF.iml
.idea/workspace.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_7_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_7_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_4_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_7_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_htmlunit_driver_2_26.xml
.idea/libraries/Gradle__net_sourceforge_htmlunit_htmlunit_2_26.xml
.idea/libraries/Gradle__net_sourceforge_cssparser_cssparser_0_9_22.xml
.idea/libraries/Gradle__net_java_dev_jna_jna_platform_4_1_0.xml
.idea/libraries/Gradle__net_java_dev_jna_jna_4_1_0.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_7_5.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/vcs.xml
.idea/modules/TAF_test.iml
.idea/modules/TAF_main.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__xml_apis_xml_apis_1_4_01.xml
.idea/libraries/Gradle__xerces_xercesImpl_2_11_0.xml
.idea/libraries/Gradle__xalan_xalan_2_7_2.xml
.idea/libraries/Gradle__xalan_serializer_2_7_2.xml
.idea/libraries/Gradle__stax_stax_api_1_0_1.xml
.idea/libraries/Gradle__org_w3c_css_sac_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_common_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_client_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_api_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_jetty_util_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_jetty_io_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_jetty_http_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_eclipse_jetty_jetty_client_9_4_3_v20170317.xml
.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Gradle__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Gradle__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Gradle__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Gradle__org_apache_poi_poi_3_17.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_5_3.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_6.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_3.xml
.idea/libraries/Gradle__org_apache_commons_commons_math3_3_6_1.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Gradle__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Gradle__net_sourceforge_htmlunit_neko_htmlunit_2_25.xml
.idea/libraries/Gradle__net_sourceforge_htmlunit_htmlunit_core_js_2_26.xml
out/test/classes/com/saleor/test/home/Titles.class
.idea/libraries/Gradle__com_google_guava_guava_23_0.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_0_18.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_2.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Gradle__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Gradle__com_codeborne_phantomjsdriver_1_4_0.xml
.idea/libraries/Gradle__cglib_cglib_nodep_3_2_4.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/uiDesigner.xml
out/test/classes/com/saleor/test/home/Home.class
